<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-text>
    <h1>This is an about page</h1>
  </ion-text>

  <p>
    My name is Marek Konvička and this app was made for my school assigment at <a href="https://www.utb.cz/"> Thomas Bata University in Zlín</a>.  
  </p>
  <p> 
    In the first tab you have a selection of four crypto currencies you can choose from. Under that  you have three regular currencies you 
    want to show the price in and finally you have a type of price, which you want to show. Sell price is for how much you sell the crypto currency,
    buy price is for how much you can buy the crypto currency and spot price is the current price at which you can immediately buy the currency.
  </p>
  <p>In the second tab (History) is shown your history of your activity. The most recent ones are at the top.</p>
</ion-content>
